.topbar{
display:flex;
justify-content:space-between;
padding:15px;
background:#1976d2;
color:white;
}

.menu-btn{
font-size:22px;
background:none;
border:none;
color:white;
cursor:pointer;
}

.logout{
background:#d32f2f;
border:none;
color:white;
padding:8px 12px;
border-radius:5px;
cursor:pointer;
}

.sidebar{

position:absolute;
top:60px;
left:0;

width:220px;
background:white;

box-shadow:0 5px 20px rgba(0,0,0,0.2);

display:flex;
flex-direction:column;

}

.sidebar a{

padding:15px;
text-decoration:none;
color:#333;

border-bottom:1px solid #eee;

}

.sidebar a:hover{

background:#f5f5f5;

}

.dashboard-container{

text-align:center;
margin-top:120px;

}

.dashboard-container h1{

font-size:50px;
margin-bottom:20px;

}

.dashboard-container h2{

font-size:28px;

}

.dashboard-container h3{

color:#555;

}