<div class="dashboard-layout">

  <!-- SIDEBAR -->
  <aside class="sidebar" *ngIf="menuAbierto">
    <a routerLink="/dashboard">📊 Dashboard</a>
    <a routerLink="/generadores">⚡ Generadores</a>
    <a routerLink="/recolectores">🚛 Recolectores</a>
    <a routerLink="/disposicion">🗑️ Disposición Final</a>
  </aside>

  <!-- MAIN -->
  <div class="main-content">

    <!-- TOPBAR -->
    <div class="topbar">
      <button class="menu-btn" (click)="toggleMenu()">☰</button>
      <h2>Disposición Final</h2>
    </div>

    <!-- POWER BI -->
    <div class="powerbi-card">
      <iframe 
        title="Proyecto practica"
        src="https://app.powerbi.com/view?r=eyJrIjoiZDQwYzM3MTQtN2RiMi00NDBkLTllYTMtYjAyYzA3Njg4ODIxIiwidCI6ImI0OWRiNjI0LTI1NDYtNDI1OS1iZjM2LTE5OWM2ZTk4ODAzMyIsImMiOjR9"
        allowFullScreen="true">
      </iframe>
    </div>

    <!-- FORM + TABLA -->
    <div class="table-card">

      <div class="table-header">
        <h2>Carga de Encuestas</h2>
        <p>Registro de disposición final</p>
      </div>

      <!-- FORM -->
      <div class="form">

        <input type="file" (change)="onFileChange($event)">

        <input type="number" placeholder="Número encuesta" [(ngModel)]="numero_encuesta">

        <input type="date" [(ngModel)]="fecha_carga">

        <button (click)="cargar()">
          Cargar encuesta
        </button>

      </div>

      <!-- TABLA -->
      <div class="table-wrapper">

        <table>

          <thead>
            <tr>
              <th>Encuesta</th>
              <th>Fecha</th>
              <th>Personas</th>
              <th>Respuestas</th>
              <th>Acciones</th>
            </tr>
          </thead>

          <tbody>

            <tr *ngFor="let c of cargas">

              <td>{{c.numero_encuesta}}</td>

              <td>{{c.fecha_carga | date:'yyyy-MM-dd'}}</td>

              <td>{{c.total_personas}}</td>

              <td>{{c.total_respuestas}}</td>

              <td>
                <button class="btn-eliminar" (click)="eliminar(c.id)">
                  Eliminar
                </button>
              </td>

            </tr>

          </tbody>

        </table>

      </div>

    </div>

  </div>

</div>